@import "tailwindcss";

@font-face {
  font-family: 'Prater Sans Bold';
  src: url("./fonts/Prater_Sans_Bold.otf");
}

@theme {
  --color-background: #FBF3E5;
  --color-primary: #A0532A;
  --font-header: 'Prater Sans Bold';
}

.main-font {
  font-family: 'Prater Sans Bold';



}

body {
  font-family: "Inter", sans-serif;
}

.nav-link {

  &:hover {}
}