@import "tailwindcss";

@font-face {
  font-family: 'Prater Sans Bold';
  src: url("./fonts/Prater_Sans_Bold.otf");
}

@theme {
  --color-background: #FBF3E5;
  --color-primary: #A0532A;
  --font-header: 'Prater Sans Bold';
}

.font-header {
  font-family: 'Prater Sans Bold';
}

body {
  font-family: "Inter", sans-serif;
  cursor: url('/src/cursor/Kleierbal.png'), auto;
}

a,
button,
input[type="button"],
input[type="submit"],
.nav-link {
  cursor: url('/src/cursor/Kleierbal.png'), auto;
}

.nav-link {
  padding: 5px 20px;

  &:hover {
    background-color: var(--color-primary);
    color: white;
    border-radius: 40px;
  }
}

.current {
  background-color: var(--color-primary);
  color: white;
  border-radius: 40px;
}


/* Kleine extra's voor vloeiende animatie */
.slide {
  transition: transform 500ms cubic-bezier(0.2, 0.9, 0.3, 1), opacity 500ms ease;
  will-change: transform, opacity;
}

.touch-action-none {
  touch-action: none;
}

/* leesbaar gedrag tijdens swipe */